.vscode
.venv
__pycache__
.env
test.py
extraction_worker/app/reciet2.jpg
extraction_worker/app/test_producer.py
extraction_worker/app/gridfs_uploader.py
extraction_worker/app/AI_connection.py
.idea
.idea/
__pycache__
node_modules/
